body {
    overflow-x: hidden;
    background: #f8f9fa;
}

.sidebar {
    min-height: 100vh;
    background: #212529;
}

.sidebar .nav-link {
    color: #fff;
    padding: 12px 20px;
}

.sidebar .nav-link:hover {
    background: #0d6efd;
}

.content {
    min-height: calc(100vh - 112px);
}

footer {
    background: #212529;
    color: white;
}

.row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}